mixin call-to-action(object)
    .row
        .column.call-to-action__column
            .h2 #{object.title}

        .column.call-to-action__column.call-to-action__column--show-from-landscape
            .arrow

        .column.call-to-action__column
            +button({title:object.button, modificators:'button--highlighted button--width-full button--size-big js-show-popup', target:'.js-popup-form'})
