mixin contacts()
    .contacts
        .contacts__side
            a.link.link--no-transform.h6.contacts__text(href="tel:8-800-200-30-30") 8 800–200–30–30
            p.contacts__text.contacts__text--small пн-пт, 10-19 по МСК
        .contacts__side
            block
