mixin form(object)
    if(object.title)
        header.form__header
            h2.popup__title.h2 #{object.title}
    .form__body
        if(object.icons)
            .form__row
                include ../parts/form-icons

        if(object.text)
            .form__row
                p.form__text #{object.text}
        .form__row
            form.form.form--width-strict
                .form__row.form__row--adjustment-inline
                    +input('tel', '+7', 'Телефон', 'form__item')
                    +button({
                        title: 'Отправить',
                        modificator: 'button--highlighted button--width-full js-show-popup form__item',
                        target: '.js-popup-form'
                    })