mixin input(type, value, placeholder, modificators)
    label.input.form__input(class=modificators)
        span.input__inner
            input.input__field.js-field(type=type value=value)
            span.input__name #{placeholder}