mixin popup(object)
    article.popup.js-popup(class=object.classNames)
        .popup__inner
            button.popup__close.js-popup-close
                +icon('icon--color-white')
                    include ../../images/cross.svg
            block