mixin title-area(object)
    .section__title-area.title-area
        if(object.button && object.title)
            .title-area__action-title
                h2.title-area__h2.section__title #{object.title}
                +button({title:object.button, modificator:'button--color-violet'})

        else if (object.title)
            h2.h2.title-area__title.section__title #{object.title}

        if(object.subTitle)
            h4.h4.section__title.section__title--color-dark-gray #{object.subTitle}

        block
