footer.footer
    .footer__floor
        .footer__inner
            .footer__side
                nav.navigation.navigation--font-uppercase.navigation--scrollable
                    ul.navigation__list
                        li.navigation__item
                            a.navigation__link(href='#') О нас
                        li.navigation__item
                            a.navigation__link(href='#') Курсы
                        li.navigation__item
                            a.navigation__link(href='#')
                                span.navigation__text-wrapper
                                    span.navigation__text Истории Учеников
                                    span.counter 67
                        li.navigation__item
                            a.navigation__link(href='#')
                                span.navigation__text-wrapper
                                    span.navigation__text Отзывы
                                    span.counter 11
            .footer__side
                nav.navigation.navigation--scrollable
                    ul.navigation__list.navigation__list
                        li.navigation__item
                            a.navigation__link(href='#') Отдел заботы
                        li.navigation__item
                            a.navigation__link(href='#') Статьи
                        li.navigation__item
                            a.navigation__link(href='#') Партнерство
                        li.navigation__item
                            a.navigation__link(href='#') Вакансии


    .footer__floor.footer__floor--color-light-blue
        .footer__inner
            .footer__row
                .footer__column
                    h5.footer__title Реквизиты
                    p.footer__text БИК: 044525201
                    p.footer__text ИНН: 7702021163
                    p.footer__text ОКВЭД: 64.19
                    p.footer__text ОКПО: 29304028
                    p.footer__text ОГРН: 1027700367507
                    p.footer__text КПП по месту нахождения: 770501001
                    p.footer__text КПП крупнейшего налогоплательщика: 997950001
                    p.footer__text ОКТМО: 45376000
                .footer__column
                    h5.footer__title Соц сети
                    ul.list.list--direction-horizontal.list--text-opacity-weak
                        li.list__item
                            a.link.list__link(href='#')
                                span.list__icon
                                span.list__text Mail
                        li.list__item
                            a.link.list__link(href='#')
                                span.list__icon
                                span.list__text Twitter
                        li.list__item
                            a.link.list__link(href='#')
                                span.list__icon
                                span.list__text Facebook
                        li.list__item
                            a.link.list__link(href='#')
                                span.list__icon
                                span.list__text LinkedIn
                        li.list__item
                            a.link.list__link(href='#')
                                span.list__icon
                                span.list__text Google+
                        li.list__item
                            a.link.list__link(href='#')
                                span.list__icon
                                span.list__text Youtube
                .footer__column
                    h6.footer__title Контакты
                    +contacts
                        +button('Заказать вонок', 'button--size-small')
