form.form.form--direction-horizontal(action='')
    .form__item
        .input-wrapper
            .input-wrapper__icon.input-wrapper__icon--position-left
            input.input-wrapper__input(type='email', required='required' placeholder='Email Address', name='email')
        p.form__notice
    //.form__item.input-wrapper
    //    .input-wrapper
    //        .input-wrapper__icon.input-wrapper__icon--position-left
    //        input.input-wrapper__input(type='password', placeholder='Password', name='password')
    //    p.form__notice

    .form__item
        button.button.button--color-blue
            span.button__text Keep me posted
