.list.list--direction-horizontal.list--width-strict
    ul.list__list
        li.list__item
            +icon('icon--size-bigger icon--color-black', 'Сформируем цели')
                include ../../images/mountans.svg
        li.list__item
            +icon('icon--size-bigger icon--color-black', 'Определим уровень знаний')
                include ../../images/arm.svg
        li.list__item
            +icon('icon--size-bigger icon--color-black', 'Расскажем про учебную платформу')
                include ../../images/comp.svg