ul.list.list--direction-horizontal.list--width-strict
    li.list__item
        +icon('icon--size-big icon--color-black', 'Сформируем цели')
            include ../../images/mountans.svg
    li.list__item
        +icon('icon--size-big icon--color-black', 'Определим уровень знаний')
            include ../../images/arm.svg
    li.list__item
        +icon('icon--size-big icon--color-black', 'Расскажем про учебную платформу')
            include ../../images/comp.svg