header.header
    .header__floor
        .header__inner.wrapper
            .header__side
                button.burger.js-menu-trigger
                    .burger__icon
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 448 512')
                            path(d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z')

                a.header__logo.logo(href='')
                    include ../../images/logo.svg

                nav.navigation.navigation--mobile-behavior.navigation--font-uppercase.js-navigation

                    ul.navigation__list
                        li.navigation__item
                            a.navigation__link(href='#') О нас
                        li.navigation__item
                            a.navigation__link(href='#') Курсы
                        li.navigation__item
                            a.navigation__link(href='#')
                                span.navigation__text-wrapper
                                    span.navigation__text Истории Учеников
                                    span.counter 67
                        li.navigation__item
                            a.navigation__link(href='#')
                                span.navigation__text-wrapper
                                    span.navigation__text Отзывы
                                    span.counter 11

                    .contacts.contacts--hidden-from-portrait
                        .contacts__side
                            a.link.link--no-transform.h5.contacts__text(href="tel:8-800-200-30-30") 8 800–200–30–30
                            p.contacts__text пн-пт, 10-19 по МСК
                        .contacts__side
                            +button('Заказать вонок', '')

                    ul.list.navigation__list.navigation__list--hidden-from-landscape
                        li.navigation__item
                            a.navigation__link(href='#') Отдел заботы
                        li.navigation__item
                            a.navigation__link(href='#') Статьи
                        li.navigation__item
                            a.navigation__link(href='#') Партнерство
                        li.navigation__item
                            a.navigation__link(href='#') Вакансии

                    .navigation__close.close.js-menu-trigger
                        .close__icon
                            include ../../images/cross.svg


            .header__side
                +contacts('contacts--show-from-portrait')
                    +button('Заказать вонок', 'button--size-small')


    .header__floor
        .header__inner.wrapper
            .header__side.header__side--padding-left
                nav.navigation.navigation--color-dark-gray
                    ul.navigation__list
                        li.navigation__item
                            a.navigation__link(href='#') Отдел заботы
                        li.navigation__item
                            a.navigation__link(href='#') Статьи
                        li.navigation__item
                            a.navigation__link(href='#') Партнерство
                        li.navigation__item
                            a.navigation__link(href='#') Вакансии
            .header__side
                a.header__link.link(href='#')
                    span.icon
                        .icon__image
                            include ../../images/login.svg
                        span.icon__text.link__text Вход для учеников
