.logos.section.section--indents-small.section--bg-blue
    .section__inner
        ul.logos__list
            li.logos__item
                img(src='images/cisco.png', alt='')
            li.logos__item
                img(src='images/vmware.png', alt='')
            li.logos__item
                img(src='images/dell.png', alt='')
            li.logos__item
                img(src='images/microsoft.png', alt='')
