ul.list.list--weight-bold.list--size-small.list--direction-horizontal
    li.list__item
        a.list__link.link(href='#')
            .icon
                include ../../images/phone.svg
            span.list__text Call us: +32 (0)50 704 415

    li.list__item
        a.list__link.link(href='#')
            .icon
                include ../../images/comments.svg
            span.list__text Live chat

    li.list__item
        a.list__link.link(href='#')
            .icon
                include ../../images/edit.svg
            span.list__text Contact us

//ul.list.list--weight-bold.list--size-small.list--direction-horizontal
//    li.list__item
//        a.list__link.link(href='#')
//            .icon
//                include ../../images/key.svg
//            span.list__text Login
//
//    li.list__item
//        a.list__link.link(href='#')
//            .icon
//                include ../../images/user-alt.svg
//            span.list__text Register

