ul.slider__icons.list.list--direction-horizontal
    li.list__item
        +icon('icon--color-violet', '150 000 р. в мес')
            include ../../images/dollar.svg
    li.list__item
        +icon('icon--color-violet', 'Аналитика стоковых инвестиций')
            include ../../images/target.svg