.slider.block-base.slider--ovh.swiper-container.js-students-slider
    .slider__counter.js-students-pagination

    ul.slider__list.slider__list--corners-rounded.slider__list--ovh.swiper-wrapper
        // slides should have frame
        li.slider__slide.swiper-slide
            .slider__content
                h5.slider__sub-title Алексей Семилетко
                p.slider__text После выселения прислали письмо с благодарностью за то, что мы оставили жилище в чистом, неразгромленном состоянии (да, вот такое нам свойственно, но раньше никто этого не замечал)) Вообще, на запросы через форму букинга отвечают оперативно, толково, подробно. Единственное, мы, решив, что это нечто типа апартотеля, не выспросили подробно, как попасть в подъезд и по прибытии имели некоторое затруднение - вот эта улица, вот этот дом, вот вроде и вход в арке. Но он закрыт, а на панели домофона ни намека на название апартаментов.
                include slider-icons


            .slider__img-container
                include ../../images/placeholders/slider6.svg
                img(srcset='../../images/placeholders/woman.jpg 1x, ../../images/placeholders/woman@2x.jpg 2x' alt='Это хороший человек')

        // slides should have frame
        li.slider__slide.swiper-slide
            .slider__content
                h5.slider__sub-title Алексей Семилетко
                p.slider__text После выселения прислали письмо с благодарностью за то, что мы оставили жилище в чистом, неразгромленном состоянии (да, вот такое нам свойственно, но раньше никто этого не замечал)) Вообще, на запросы через форму букинга отвечают оперативно, толково, подробно. Единственное, мы, решив, что это нечто типа апартотеля, не выспросили подробно, как попасть в подъезд и по прибытии имели некоторое затруднение - вот эта улица, вот этот дом, вот вроде и вход в арке. Но он закрыт, а на панели домофона ни намека на название апартаментов.

            .slider__img-container
                include ../../images/placeholders/slider6.svg
                img(srcset='../../images/placeholders/woman.jpg 1x, ../../images/placeholders/woman@2x.jpg 2x' alt='Это хороший человек')




button.slider__button.slider__button--prev.js-students-button-prev
    +icon('icon--size-micro')
        include ../../images/arrow.svg
button.slider__button.slider__button--next.js-students-button-next
    +icon('icon--size-micro')
        include ../../images/arrow.svg