$white:         #ffffff;
$light-gray:    #E6E6E6;
$gray:          #BEBEBE;
$dark-gray:     #696969;
$black:         #333333;

$dark-blue:     #151071;
$violet:        #613C9E;
$yellow:        #FBCE2F;
$light-blue:    #F5F7FC;

$cold-green:    #16a085;
$light-green:   #6ec22e;
$red:           #e74c3c;

//counter
$counter: $violet;
$counter-text: $white;

//button
$button: $yellow;
$button-text: $black;

// links
$header-link:     $dark-gray;
$nav-link:        $black;
$text:            $black;
$nav-link-border: $light-gray;
$link-hover:      $violet;
$card-link:       #006ED0;

// borders
$border: $light-gray;

// card
$tag:             $violet;


// programms
$blue:            #94C2FF;
$green:           #A5C94B;
$purple:          #C3338F;
$orange:          #FDBA63;