include mixins/all

doctype html
html(lang='ru')
    head
        include parts/head
    body
        include parts/header

        main.page__inner
            section.section.section--indents
                .section__inner
                    article
                        +title-area(
                            'Статьи',
                            'Академия Интернет Бизнеса — это Первый в России и СНГ образовательный центр по созданию и развитию бизнеса в электронной коммерции. Мы приглашаем компетентных экспертов для передачи лучшего опыта нашим студентам.'
                        )

                        +categories([
                            'Все категории',
                            'Мастер классы',
                            'Жесткие разборы',
                            'Мастер классы',
                            'Развитие бизнеса',
                            'Старт бизнеса',
                            'Привлечение клиентов',
                            'Старт бизнеса'
                        ])

                    .cards
                        ul.cards__list
                            li.cards__item
                                // title, link, tag, date, classNames
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.
                            li.cards__item
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.
                            li.cards__item
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime. Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.
                            li.cards__item
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.
                            li.cards__item
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.
                            li.cards__item
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.

                .section__button-area
                    +button('Показать еще', 'button--hollow button--color-violet')

        include parts/footer

include parts/scripts
