include mixins/all

doctype html
html(lang='ru')
    head
        include parts/head
    body
        include parts/header

        main.page__inner
            section.section.section--padding-top
                .section__inner
                    article
                    +title-area({
                        title: 'Статьи',
                        subTitle: 'Академия Интернет Бизнеса — это Первый в России и СНГ образовательный центр по созданию и развитию бизнеса в электронной коммерции. Мы приглашаем компетентных экспертов для передачи лучшего опыта нашим студентам.'
                    })

                        +categories([
                            'Все категории',
                            'Мастер классы',
                            'Жесткие разборы',
                            'Мастер классы',
                            'Развитие бизнеса',
                            'Старт бизнеса',
                            'Привлечение клиентов',
                            'Старт бизнеса'
                        ])

                    .cards
                        ul.cards__list
                            - for(var i = 0; i < 6; i++)
                                li.cards__item
                                    +card({
                                        title: 'Построение воронки продаж',
                                        link: '#',
                                        tag: '# старт бизнеса',
                                        date: '14 февраля 2019',
                                        classNames: 'cards__card',
                                        button: true
                                    })
                                        p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.


                .section__button-area
                    +button({title:'Показать еще', modificator:'button--hollow button--color-violet'})

        include parts/form-popup
        include parts/footer

include parts/scripts
