include mixins/all

doctype html
html(lang='ru')
    head
        include parts/head
    body.page
        include parts/header

        main.page__inner
            section.section.section--padding-top
                .section__inner
                    article
                        +title-area({
                            title: 'Отзывы участников',
                            button: 'Оставить отзыв'
                        })

                        +categories([
                            'Все категории',
                            'Письменные',
                            'Видеоотзывы',
                            'Скриншоты постов'
                        ])

                        //h6.h6.section__title.section__title--color-dark-gray Академия Интернет Бизнеса — это Первый в России и СНГ образовательный центр по созданию и развитию бизнеса в электронной коммерции. Мы приглашаем компетентных экспертов для передачи лучшего опыта нашим студентам.

                    .cards
                        ul.cards__list
                            - for(var i = 0; i < 6; i++)
                                li.cards__item
                                    +card({
                                        title: 'Отзыв Natali New',
                                        tag: 'vk.com/id185877238',
                                        date: '14 февраля 2019',
                                        classNames: 'cards__card',
                                        buttons: true
                                    })
                                        p.card__text Здравствуйте! Хочу поделиться впечатлениями от обучения в Академии Интернет бизнеса Евгении Беловой. Внимательные кураторы, своевременная обратная связь по любым вопросам...

                .section__button-area.section--margin-top
                    +button({title: 'Показать еще', modificator: 'button--hollow button--color-violet', tag:'button'})

        include parts/form-popup
        include parts/footer

include parts/scripts
