include mixins/all

doctype html
html(lang='ru')
    head
        include parts/head
    body.page
        include parts/header

        main.page__inner
            section.section.section--sm-padding-top
                .section__inner
                    +breadcrumbs(['Истории учеников', 'Марк Тишман'])

            section.section.section--bg-light-blue.section--sm-margin-top
                +text-banner(
                    false,
                    'Академия Интернет Бизнеса — это Первый в России и СНГ образовательный центр по созданию и развитию бизнеса в электронной коммерции. Мы приглашаем компетентных экспертов для передачи лучшего опыта нашим студентам.'
                )

            article.section.story.section--sm-padding-top
                .section__inner
                    .row

                        .story__image.img-container.column
                            img( srcset='images/placeholders/mark.jpg 1x, images/placeholders/mark@2x.jpg 2x')

                        .column.story__info
                            .story__title.h2 Марк Тишман, 27 лет

                            table.story__table.table.table--size-small
                                tbody
                                    tr.table__tr
                                        td.table__td
                                            span.text--color-violet Город:
                                        td.table__td Москва

                                    tr.table__tr
                                        td.table__td
                                            span.text--color-violet Ниша:
                                        td.table__td Костюмы

                            blockquote.quote.quote--pseudo-right
                                p.h4.quote__text
                                    span Его так увлекла музыка, что даже во время полугодовой поездки в Штаты после победы в конкурсе на знание английского языка он подрабатывал частными занятиями с детьми. Отец категорически не воспринимал желание сына связать свою жизнь со сценой, он считал достойными совсем другие профессии — дипломата, юриста, инженера.

                    - for(var i = 0; i < 3; i++)
                        +story_block({
                            title: 'Детство',
                            list: [
                                'Академия Интернет Бизнеса — это Первый в России и СНГ образовательный центр по созданию и развитию бизнеса в электронной коммерции. Мы приглашаем компетентных экспертов для передачи лучшего опыта нашим студентам.',
                                'Его так увлекла музыка, что даже во время полугодовой поездки в Штаты после победы в конкурсе на знание английского языка он подрабатывал частными занятиями с детьми. Отец категорически не воспринимал желание сына связать свою жизнь со сценой, он считал достойными совсем другие профессии — дипломата, юриста, инженера.'
                            ]
                        })


            article.call-to-action.section.section--bg-light-blue.section--paddings-vertical.section--margin-top
                .section__inner
                    +call-to-action({title:'Начните действовать прямо сейчас', button:'Записаться на обучение'})


            article.section.section--padding-top.section--width-extended

                .section__inner
                    +title-area({title: 'Другие истории'})

                .section__inner
                    .cards.cards--row-one.slider.slider--has-cards.swiper-container.js-stories-slider
                        ul.cards__list.swiper-wrapper
                            - for(var i = 0; i < 6; i++)
                                li.slider__slide.cards__item.swiper-slide
                                    +card({
                                        title: 'Евгения Белова, 34 года',
                                        link: '#',
                                        classNames: 'cards__card',
                                        table: true
                                    })
                                        p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.


                        button.slider__button.slider__button--prev.js-story-button-prev
                            +icon('icon--size-micro')
                                include ../images/arrow.svg
                        button.slider__button.slider__button--next.js-story-button-next
                            +icon('icon--size-micro')
                                include ../images/arrow.svg


        include parts/form-popup
        include parts/footer

include parts/scripts
