include mixins/all

doctype html
html.page(lang='ru')
    head
        include parts/head
    body
        include parts/header

        section.section.section--indents
            .section__inner
                +breadcrumbs(['Истории учеников', 'Марк Тишман'])

            +text-banner('Академия Интернет Бизнеса — это Первый в России и СНГ образовательный центр по созданию и развитию бизнеса в электронной коммерции. Мы приглашаем компетентных экспертов для передачи лучшего опыта нашим студентам.')

        article.section.story.section--small-indents
            .section__inner
                .row

                    .story__image.img-container.column
                        img( srcset='images/placeholders/mark.jpg 1x, images/placeholders/mark@2x.jpg 2x')

                    .column.story__info
                        .story__title.h2 Марк Тишман, 27 лет

                        table.story__table.table.table--size-small
                            tbody
                                tr.table__tr
                                    td.table__td
                                        span.text--color-violet Город:
                                    td.table__td Москва

                                tr.table__tr
                                    td.table__td
                                        span.text--color-violet Ниша:
                                    td.table__td Костюмы

                        blockquote.quote.quote--pseudo-right
                            p.h4.quote__text
                                span Его так увлекла музыка, что даже во время полугодовой поездки в Штаты после победы в конкурсе на знание английского языка он подрабатывал частными занятиями с детьми. Отец категорически не воспринимал желание сына связать свою жизнь со сценой, он считал достойными совсем другие профессии — дипломата, юриста, инженера.


                +story_block(
                    'Детство',
                    [
                        'Академия Интернет Бизнеса — это Первый в России и СНГ образовательный центр по созданию и развитию бизнеса в электронной коммерции. Мы приглашаем компетентных экспертов для передачи лучшего опыта нашим студентам.',
                        'Его так увлекла музыка, что даже во время полугодовой поездки в Штаты после победы в конкурсе на знание английского языка он подрабатывал частными занятиями с детьми. Отец категорически не воспринимал желание сына связать свою жизнь со сценой, он считал достойными совсем другие профессии — дипломата, юриста, инженера.',
                    ]
                )

                +story_block(
                    'Наемная работа',
                    [
                        'Академия Интернет Бизнеса — это Первый в России и СНГ образовательный центр по созданию и развитию бизнеса в электронной коммерции. Мы приглашаем компетентных экспертов для передачи лучшего опыта нашим студентам.',
                    ]
                )

                +story_block(
                    'Вдохновение и поддержка',
                    [
                        'Академия Интернет Бизнеса — это Первый в России и СНГ образовательный центр по созданию и развитию бизнеса в электронной коммерции. Мы приглашаем компетентных экспертов для передачи лучшего опыта нашим студентам.',
                        'Его так увлекла музыка, что даже во время полугодовой поездки в Штаты после победы в конкурсе на знание английского языка он подрабатывал частными занятиями с детьми. Отец категорически не воспринимал желание сына связать свою жизнь со сценой, он считал достойными совсем другие профессии — дипломата, юриста, инженера.',
                    ]
                )

        +call-to-action('Начните действовать прямо сейчас', 'Записаться на обучение')


        article.section.section--indents.section--width-full.section--margin-left

            .section__inner
                +title-area('Другие истории')

                .cards.cards--row-one
                    .slider
                        button.slider__button
                            +icon('icon--size-micro')
                                include ../images/arrow.svg

                        ul.cards__list
                            li.cards__item
                                // title, link, tag, date, classNames
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.
                            li.cards__item
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.
                            li.cards__item
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime. Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.
                            li.cards__item
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.
                            li.cards__item
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.
                            li.cards__item
                                +card('Построение воронки продаж', '#', '# старт бизнеса', '14 февраля 2019', 'cards__card' )
                                    p.card__text Сначала начала с колясок Yoya , сделала заказ из Китая. Правда пока ждала, а это заняло около месяца, нашла поставщика в Москве с аналогичными колясками Babytime.


        article.popup.js-popup.js-popup-form
            .popup__inner
                header.popup__header
                    h2.popup__title.h2
                .popup__body
                    .list
                        ul.list__list
                            li.list__item
                                +icon('icon--size-bigger')
                                    include ../images/mountans.svg
                            li.list__item
                                +icon('icon--size-bigger')
                                    include ../images/arm.svg
                            li.list__item
                                +icon('icon--size-bigger')
                                    include ../images/comp.svg
                    form.form
                        .form__row
                            +input('tel', '+7', 'Телефон')
                            +button('Отправить', 'button--highlighted button--width-full js-show-popup', '.js-popup-form')



        include parts/footer

include parts/scripts
