.cards {
  $c: &;
  @include sm-indents;

  &--row-one {
    #{$c}__list {
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
    }

    #{$c}__item {
      flex-grow: 1;
      flex-shrink: 0;
      padding-right: 5px;
      padding-left: 5px;

      width: 100%;
      //max-width: 386px;
      height: auto;

      @include for-tablet-portrait-up {
        margin-right: 20px;
      }

      @include for-tablet-landscape-up {
        margin-right: 60px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__list {
    @include reset-ul;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));

    grid-gap: 20px;

    @include for-tablet-portrait-up {
      grid-gap: 30px;
    }

    @include for-tablet-landscape-up {
      grid-gap: 60px;
    }

    &--small-card-size {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}