a.card {
  $c: &;
  @include cardHover($c);
}

.card {
  $c: &;
  @include dflex;
  @include blockBase;

  flex-direction: column;

  height: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  
  overflow: hidden;

  color: $text;
  text-decoration: none;
  white-space: normal;

  background-color: transparentize($white,.1);

  &--text-short {
    #{$c}__text, &__title  {
      max-width: 240px;

      margin-left: auto;
      margin-right: auto;
    }
  }

  &--text-weak {
    color: $dark-gray;
  }

  &--text-center {
    text-align: center;
  }

  &--body-fat {
    #{$c}__body, #{$c}__header {
      @include for-tablet-portrait-up {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  & > * {
    width: 100%;
  }

  &__header {
    overflow: hidden;

    width: 100%;
    //height: 200px;

    @include for-phone-only {
      height: 100px;
    }
  }

  &__footer {
    margin-top: auto;
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__body {
    padding: 8px 24px 24px 24px ;
  }

  &__tag {
    margin-bottom: 12px;

    color: $tag;
    text-decoration: none;

    &:empty {
      display: none;
    }
  }

  &__achivements {
    margin-bottom: 8px;

    &--bg-violet {
      background-color: $violet;

      color: $white;

      & svg {
        fill: $white;
      }
    }

    &--devided-icons {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 0;

      padding-top: 12px;
      padding-bottom: 12px;

      & .icon {
        display: block;

        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 0;

        text-align: center;
      }

      & > .icon + .icon {
        border-left: 1px solid transparentize($white, 0.9);
      }

      & .icon__text {
        display: block;
        width: 100%;
      }
    }
  }

  &__icon {
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 20px 20px 0 20px;
  }

  &__text, &__title  {
    line-height: 150%;
  }


  &__title {
    margin-bottom: 8px;
  }

  &__text {
    font-size: 16px;
  }

  &__date {
    display: block;
    margin-bottom: 8px;

    color: $gray;
  }

  &__more {
    display: block;

    margin-top: 6px;

    color: $card-link;

    text-align: center;
  }

  &__notice {
    display: block;

    width: 100%;

    padding: 8px 12px;

    background-color: $light-gray;
  }
}