.contacts {
  @include dflex;
  align-items: center;

  &__side {
    margin-top: 4px;
    margin-bottom: 4px;

    &:first-child {
      margin-right: 32px;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__text {
    line-height: 130%;
    //text-align: right;

    &--small {
      font-size: 10px;
    }
  }
}