.icon {
  $c: &;
  display: inline-flex;
  align-items: center;


  &--color-violet {
    & svg {
      fill: $violet;
    }

    #{$c}__text {
      color: $violet;
    }
  }

  &__text {
    font-size: 16px;
  }
  
  &__image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 19px;
    height: 19px;

    & > * {
      height: 100%;
      display: block;
    }

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }

    &:only-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}


