.list {
  $c: &;
  @include reset-ul;

  max-width: 100%;

  &--direction-horizontal {
    @include dflex;

    width: 100%;

    padding-left: 0;
    padding-right: 0;

    //transform: translateX(-15px);

    @include for-tablet-portrait-up {
      width: auto;
      max-width: calc(100% + 30px);
    }

    @include for-tablet-landscape-up {
      max-width: 100%;

      transform: translateX(0);
    }

    #{$c}__item {
      min-width: 40%;

      padding-left: 0;
      padding-right: 0;

      @include for-tablet-portrait-up {
        min-width: 0;

        padding: 15px;
      }

      @include for-tablet-landscape-up {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  &__item {
    display: block;

    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}
