.section {
  $c: &;

  // chec it conflicts with call to action
  //padding-top: 24px;

  &--bg-light-blue {
    background-color: $light-blue;
  }

  &--indents {
    @include indents;
  }

  &--small-indents {
    @include sm-indents;
  }

  &--width-full {
    #{$c}__title-area {
      max-width: 1240px;
    }
    #{$c}__inner {
      max-width: 100%;
    }
  }

  &--margin-left {
    @include for-desktop-up {
      #{$c}__inner {
        margin-left: calc((100% - 1280px)/2);
      }
    }
  }

  &__inner {
    @include wrapper;
    @include section;
  }

  &__title {
    text-align: center;

    &.h2 {
      margin-top: 18px;

      &:first-child {
        margin-top: 0;
      }
    }

    &.h5 {
      margin-top: 12px;

      @include for-tablet-landscape-up {
        margin-top: 16px;
      }
    }

    &--color-dark-gray {
      color: $dark-gray;
    }
  }

  &__title-area {

    // indents goes top
    //margin-top: 12px;
    //margin-bottom: 16px;

    // conflicts with else stories
    //margin-bottom: 20px;
    //
    //@include for-tablet-landscape-up {
    //  margin-bottom: 32px;
    //}
  }

  &__form-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__button-area {
    @include dflex;
    justify-content: center;
    align-items: center;

    padding-top: 60px;

    @include for-tablet-portrait-up {
      flex-wrap: nowrap;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;

    & + & {
      margin-top: 25px;
    }

    @include for-tablet-portrait-up {
      max-width: 300px;

      padding-left: 15px;
      padding-right: 15px;

      & + & {
        margin-top: 0px;
      }
    }
  }

  &__text-area {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}
