.slider {
  $c: &;

  position: relative;

  &__button {
    @include resetButton;
    @include makeCircle(50px, 50px, $light-blue);

    position: absolute;
    z-index: 1;
    top: calc(50% - 25px);
    left: calc(100% - 50px);

    @include for-desktop-up {
      left: calc(1280px + 60px - 25px);
    }
  }
}