.swiper-container {
  width: 100%;
  overflow: inherit;
  position: static;
}

.slider {
  $c: &;
  display: flex;
  flex-wrap: wrap;

  // fix for counter
  @include for-tablet-landscape-up {
    &:not(.cards) {
      position: relative;
    }
  }

  &--bg-violet {
    #{$c}__counter {
      @include for-tablet-portrait-up {
        background-color: transparentize($white, 0.9);

        color: $white;
      }
    }

    #{$c}__slide {
      background-image: url('images/placeholders/violet.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    #{$c}__content {
      color: #fff;
    }

    #{$c}__sub-title {
      color: $yellow;
    }
  }

  &--ovh {
    #{$c}__slide {
      @include for-phone-only {
        overflow: hidden;
        border-radius: $big-bd-radius;
      }
    }
    @include for-tablet-portrait-up {
      overflow: hidden;
      border-radius: $big-bd-radius;
    }
  }

  &--has-cards {
    #{$c}__button {

      @include for-tablet-portrait-up {
        top: 100px;
      }

      @include for-tablet-landscape-up {
        top: calc(50% - 25px);
      }
    }
  }

  &__slide {
    @include dflex;

    opacity: 1;

    @include for-tablet-portrait-up {
      opacity: 0.45;
    }

    @include for-tablet-landscape-up {
      flex-wrap: nowrap;
    }

    &.swiper-slide-visible, &.swiper-slide-active {
      opacity: 1;
    }
  }

  &__svg-image {
    align-self: center;

    width: 100%;
    height: 100%;
  }

  &__counter {
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 40px;

    width: 76px;
    height: 40px;

    padding: 10px 20px;

    border-radius: 20px;

    background-color: transparentize($violet, 0.9);

    color: $violet;
    font-size: 16px;

    @include for-tablet-landscape-up {
      left: 24px;
      bottom: 24px;
      top: auto;

      display: flex;
      justify-content: space-around;
      align-items: center;

      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }

  &__button {
    @include resetButton;
    @include makeCircle(50px, 50px, transparent ) ;

    @include for-tablet-portrait-up {
      position: absolute;
      z-index: 1;
      top: calc(50% - 25px);

      background-color: $light-blue;
    }

    @include for-desktop-up {
      &:hover {
        background-color: darken($light-blue, 2%);
      }
    }

    &.swiper-button-disabled {
      display: none;
    }

    &--prev {
      margin-right: 10px;
      @include for-tablet-portrait-up {
        left: 0px;

        margin-right: auto;
      }

      transform: scale(-1,1);

      @include for-desktop-up {
        left: 35px;
      }

      @include for-big-desktop-up {
        left: -25px;
      }
    }

    &--next {
      margin-left: 10px;
      @include for-tablet-portrait-up {
        right: 0;

        margin-left: auto;
      }

      @include for-desktop-up {
        right: 35px;
      }

      @include for-big-desktop-up {
        right: -25px;
      }
    }
  }

  &__inner {
    overflow: hidden;
  }

  &__list {
    position: relative;

    &--corners-rounded {
      border-radius: $big-bd-radius;
    }
  }

  &__content, &__img-container {
    flex-basis: 100%;
    width: 100%;

    @include for-tablet-landscape-up {
      flex-basis: 50%;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  &__img-container {
    order: -1;

    @include for-tablet-landscape-up {
      order: 1;
    }

    & > svg {
      display: none;

      @include for-tablet-landscape-up {
        position: static;

        display: block;

        flex-shrink: 0;

        opacity: 1;
      }
    }

    & img {

      display: block;

      width: 150px;
      height: 150px;

      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;

      border-radius: 100%;
      border: 4px solid transparentize($white, 0.5);

      object-fit: cover;

      @include for-tablet-landscape-up {
        display: none;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;

    padding: 20px;

    text-align: center;

    @include for-tablet-landscape-up {
      position: relative;

      align-self: center;

      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;

      text-align: right;
    }

    @include for-big-desktop-up {
      padding-right: 60px;
    }
  }

  &__title {
    font-size: 32px;

    @include for-tablet-portrait-up {
      font-size: 48px;
    }
  }

  &__sub-title {
    margin-top: 8px;

    font-size: 20px;
  }

  &__text {
    margin-top: 8px;

    font-size: 16px;
    line-height: 150%;
  }

  &__img {
    display: block;
    visibility: hidden;
  }

  &__icons {
    margin-top: 20px;
  }

  &__slide-button {
    margin-top: 20px;

    @include for-tablet-portrait-up {
      margin-top: 40px;
    }
  }
}