.table {
  $c: &;

  width: 100%;

  &--size-small{
    font-size: 16px;
    font-weight: 600;

    & #{$c}__td:first-child {
      width: 1px;
      padding-right: 16px;;
    }
  }

  &__td {
    &:first-child {
      vertical-align: middle;
    }
  }

  & + & {
    margin-top: 10px;
  }
}
