.table {
  $c: &;

  width: 100%;

  color: $gray;
  font-size: 16px;

  &--weight-fat {
    font-weight: 700;
  }

  &--color-blue {
    color: $blue;
  }

  & + & {
    margin-top: 10px;
  }

  &__tr {
    &:nth-child(2n+1) {
      background-color: $light-gray;
    }
  }

  &__td {
    padding: 15px;

    &:last-child {
      text-align: right;
    }
  }
}
