.text-banner {
  @include dflex;
  justify-content: center;

  max-width: 764px;
  margin-left: auto;
  margin-right: auto;

  // todo: should be specific class with section indents
  //margin-top: 32px;
  padding: 20px;

  //background-color: $light-blue;

  &__text, &__title {
    text-align: center;
    line-height: 150% ;

    & + & {
      margin-top: 8px;
      color: $dark-gray;
    }
  }
}